nav {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 30px;
}

form {
    display: flex;
    margin-left: auto;
}

input {
    height: 35px;
    width: 200px;
}

button {
    height: 40px;
    background-color: transparent;
    color: white;
    border: transparent;
}

.searchBtn {
}
